<div class="container my-4">
  <div class="mb-3">
    <label class="form-check-label me-3">
      <input
        type="button"
        class="btn-primary"
        value="trening"
        (click) = "updateCategoryFilter('trening')">
      Trening
    </label>
    <label class="form-check-label me-3">
      <input
        type="button"
        class="btn-primary"
        value="dieta"
        (click)="updateCategoryFilter('dieta')">
      Dieta
    </label>
    <label class="form-check-label me-3">
      <input
        type="button"
        class="btn-primary"
        value="premium"
        (click)="updateCategoryFilter('premium')">
      Premium
    </label>
    <label class="form-check-label">
      <input
        type="button"
        class="btn-primary"
        value="Wszystkie"
        (click)="updateCategoryFilter('all')">
      Wszystkie
    </label>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of filteredProducts">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
