<div class="container my-4">
  <div class="mb-3">
    <label class="form-check-label me-3">
      <input
        type="checkbox"
        class="form-check-input"
        value="trening"
        (change)="updateCategoryFilter('trening', $event)"
        [checked]="categories['trening']">
      Trening
    </label>
    <label class="form-check-label me-3">
      <input
        type="checkbox"
        class="form-check-input"
        value="dieta"
        (change)="updateCategoryFilter('dieta', $event)"
        [checked]="categories['dieta']">
      Dieta
    </label>
    <label class="form-check-label">
      <input
        type="checkbox"
        class="form-check-input"
        value="premium"
        (change)="updateCategoryFilter('premium', $event)"
        [checked]="categories['premium']">
      Premium
    </label>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of filteredProducts">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
